* {
  padding: 0px;
  margin: 0px;
}
body {
  justify-content: center;
}
#game {
  width: 500px;
  height: 200px;
  border: 4px solid black;
  margin: auto;
  margin-top: 170px;
  overflow: hidden;
}
#character img {
  width: 50px;
  height: 50px;
}
#character {
  width: 20px;
  height: 50px;
  position: relative;
  top: 150px;
  border-radius: 5px;
}
.animate {
  animation: jump 2s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  width: 20px;
  height: 20px;
  background-color: rgb(76, 107, 123);
  position: relative;
  left: 480px;
  top: 130px;
  border-radius: 50%;
  animation: block 3s infinite linear;
  color: white;
}
@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
    transform: rotate(-360deg);
  }
}
button {
  background-color: turquoise;
  height: 50px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border-radius: 10px;
  position: relative;
  left: 600px;
  top: 50px;
  margin-right: 10px;
}
#btn {
  display: flex;
}
#gameOver {
  background-color: rgba(6, 39, 66, 0.706);
  border: 1px solid black;
  height: 675px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: none;
}

#gameOver div {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 40%;
}
#gameOver img {
  width: 300px;
}
#gameOver div i {
  color: white;
  position: relative;
  left: 290px;
}
